<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.model.dao.TestMapper">

  <select id="getAllDataList" resultType="com.example.demo.model.dto.Schedule">
    SELECT * FROM test.schedule_table;
  </select>

</mapper>